.news {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    &__title {
      @include title-section();
    }
  }
  &__more {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.0;
    text-align: right;
    color: $primary;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
  &__item {
    flex: 0 0 33%;
    padding: 0px 15px;
    margin-bottom: 30px;
    &__img {
      max-width: 100%;
      margin-bottom: 20px;
    }
    &__title {
      @include title-small();
      margin-top: 0px;
      a {
        color: $black;
      }
    }
    &__meta {
      margin: 0px 0px 15px 0px;
      font-size: 16px;
      font-weight: 300;
      line-height: 0.89;
      text-align: left;
      color: $primary;
    }
    &__post-type {
      text-transform: uppercase;
      font-weight: 900;
    }
    &__date {
      text-transform: uppercase;
    }
    &:nth-child(1), &:nth-child(2) {
      flex: 0 0 50%;
      .news__item__title {
        @include title-medium();
      }
    }
  }
}
