.social {
  max-width: $container;
  margin: rem(0px) auto rem(60px) auto;
  padding: rem(0px) rem(15px);
  @media (max-width: $md) {
    margin-bottom: rem(40px);
  }
  @media (max-width: $sm) {
    margin-bottom: rem(20px);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(50px);
    align-items: center;
    @media (max-width: $md) {
      margin-bottom: rem(30px);
    }
    &__title {
      @include title-section();
    }
  }
  &__more {
    text-transform: uppercase;
    font-size: rem(16px);
    font-weight: 800;
    line-height: 1.0;
    text-align: right;
    color: $primary;
    @media (max-width: $xs) {
      display: none;
    }
  }
  .ff-stream {
    padding: rem(0px);
  }
  .ff-stream-wrapper {
    margin-top: rem(0px);
  }
  .ff-layout-grid .ff-has-overlay:hover img {
    transform: translate(-50%, -50%) !important;
  }
  #ff-stream-1 .picture-item__inner, #ff-stream-1 .ff-overlay {
    background-color: rgba($primary, 0.9);
  }
  #ff-stream-1 .ff-instagram .ff-overlay {
     background-color: rgba(233, 89, 80, 0.9);
  }
  #ff-stream-1 .ff-twitter .ff-overlay {
    background-color: rgba(0, 161, 223, 0.9);
  }
  .ff-loadmore-wrapper {
    display: none;
  }
}
