.social {
  max-width: $container;
  margin: rem(0px) auto rem(60px) auto;
  padding: rem(0px) rem(15px);
  @media (max-width: $md) {
    margin-bottom: rem(40px);
  }
  @media (max-width: $sm) {
    margin-bottom: rem(20px);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(50px);
    align-items: center;
    @media (max-width: $md) {
      margin-bottom: rem(30px);
    }
    &__title {
      @include title-section();
    }
  }
  .ff-stream {
    padding: rem(0px);
  }
  .ff-stream-wrapper {
    margin-top: rem(0px);
  }
  .ff-layout-grid .ff-has-overlay:hover img {
    transform: translate(-50%, -50%) !important;
  }
  #ff-stream-1 .picture-item__inner, #ff-stream-1 .ff-overlay {
    background-color: rgba($primary, 0.9);
  }
  #ff-stream-1 .ff-instagram .ff-overlay {
     background-color: rgba(233, 89, 80, 0.9);
  }
  #ff-stream-1 .ff-twitter .ff-overlay {
    background-color: rgba(0, 161, 223, 0.9);
  }
  .ff-loadmore-wrapper .ff-btn {
    color: $white;
    background-color: $primary !important;
    border-radius: 0rem;
    font-weight: bold;
    font-size: rem(16px);
    margin-top: rem(40px);
    padding: 20px 50px;
    &:hover {
      background-color: $black !important;
    }
  }
  .ff-sc-label2 .ff-facebook .ff-icon:before,
  .ff-sc-label2 .ff-twitter .ff-icon:before,
  .ff-sc-label2 .ff-instagram .ff-icon:before {
    border: none;
  }
  .ff-item .ff-content, .ff-article, .ff-item .ff-content p {
    font-size: rem(16px);
  }
  .ff-layout-grid .ff-has-overlay:hover img.emoji {
    transform: none !important;
  }
  #ff-stream-1 .ff-item-bar .ff-share-popup a {
    color: $black !important;
  }
  .ff-layout-grid .ff-item .ff-img-holder img {
    height: 100%;
    object-fit: cover;
  }
}
