.sponsors-prefooter {
  background-color: $black;
  padding: rem(60px) rem(0px);
  margin-top: rem(160px);
  @media (max-width: $sm) {
    margin-top: rem(30px);
    padding: rem(30px) rem(0px);
  }
}
.sponsors-block {
  text-align: center;
  @extend %flex;
  align-items: center;
  justify-content: center;
  &__title {
    font-size: 16px;
    font-weight: 300;
    line-height: 0.88;
    letter-spacing: 8.9px;
    color: $white;
    background-color: $black;
    border: solid 1px #333333;
    padding: 23px 50px;
    display: inline-block;
    margin: -80px auto 0 auto;
    text-transform: uppercase;
    @media (max-width: $sm) {
      padding: 20px;
      letter-spacing: 0;
    }
  }
  &__item {
    display: block;
    padding: rem(9px) rem(19px);
    flex: 0 0 auto;
    max-width: 100%;
  }
  &--level1 {
    @media (max-width: $sm) {
      margin-bottom: rem(40px);
    }
    .sponsors-block__item {
      padding: rem(50px);
      @media (max-width: $sm) {
        padding: rem(15px) rem(15px);
      }
    }
  }
  &--level2 {
    margin-bottom: rem(45px);
    justify-content: center;
    @media (max-width: $sm) {
      justify-content: center;
    }
    .sponsors-block__item {
      padding: rem(15px) rem(35px);
    }
    .sponsors-block__title {
      margin-top: -35px;
    }
  }
}
.sponsors-section {
  text-align: center;
  .sponsors-block {
    margin: rem(100px) auto;
    &--level1 {
      color: $white;
      background: $black;
      padding: rem(50px) 0;
      margin-bottom: rem(150px);
      @media (max-width: $sm) {
        margin-bottom: rem(70px);
      }
      &.type-0 {
        background: url('../images/bg-sponsor-1.jpg') no-repeat center center;
        background-size: cover;
      }
      &.type-1 {
        margin-top: 0;
        background: url('../images/bg-sponsor-2.jpg') no-repeat center center;
        background-size: cover;
      }
      .container {
        @extend %flex;
        align-items: center;
        flex-direction: column;
      }
      .sponsors-block__wrapper {
        margin: rem(90px) 0 rem(50px) 0;
        @media (max-width: $sm) {
          margin: rem(30px) 0 rem(20px) 0;
        }
      }
      .sponsors-block__item {
        margin-bottom: rem(65px);
      }
      .sponsors-block__social {
        a {
          display: inline-block;
          color: $white;
          margin: 0rem rem(20px);
          overflow: hidden;
          svg {
            margin-right: rem(5px);
            position: relative;
            top: rem(2px);
          }
          &:hover {
            svg {
              animation: toTopFromBottom .6s forwards;
            }
          }
        }
      }
    }
    &--level2 {
      background-color: $gray;
      margin-top: 0rem;
      margin-bottom: -10px;
      .container {
        max-width: rem($container-px + 120px);
        padding: rem(60px) 0rem;
        @extend %flex;
        align-items: center;
        justify-content: center;
        .sponsors-block__item {
          padding: rem(90px) rem(60px);
          @media (max-width: $sm) {
            padding: rem(30px);
          }
        }
      }
    }
    &--level3 {
      @media (max-width: $sm) {
        justify-content: space-between;
      }
      .sponsors-block__item {
          padding: rem(50px) rem(60px);
          @media (max-width: $sm) {
            padding: rem(10px);
          }
        }
    }
  }
}
