.header {
  padding: 10px 0px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 95px;
  }
  .custom-logo-link {
    align-self: end;
    max-width: 150px;
    display: block;
    img {
      max-width: 100%;
    }
  }
  &__menu-toggle {
    text-indent: -99999px;
    width: 40px;
    height: 30px;
    display: block;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      width: 100%;
      height: 1px;
      background: $black;
      transform: tranlsateY(-50%);
    }
  }
  &__language {
    .menu-item {
      line-height: none;
      display: inline-block;
      line-height: 1;
      a {
        color: $black;
        text-transform: uppercase;
      }
      &.current-lang {
        font-weight: 900;
      }
      &:not(:last-of-type) {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid $black;
      }
    }
  }
}


.super-menu {
  background: $primary;
  position: absolute;
  height: 100vh;
  top: 0px;
  width: 30%;
  left: -30%;
  transition: all 0.5s ease-in;
  color: $white;
  padding: 60px 60px 60px 210px;
  &__close {
    position: absolute;
    top: 55px;
    right: 40px;
  }
  &__title {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.0;
    color: $white;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
  }
  div {
    .menu {
      list-style: none;
      padding: 0px;
      margin: 0px 0px 60px 0px;
      a {
        color: $white;
      }
    }
    &:first-of-type {
      .menu {
        margin-top: 50px;
        .menu-item {
          opacity: 0.9;
          font-size: 24px;
          font-weight: 300;
          line-height: 0.75;
          letter-spacing: 5px;
          margin-bottom: 21px;
          text-transform: uppercase;
        }
      }

    }
  }

  &.open {
    left: 0px;
  }
}
