.header {
  padding: rem(35px) rem(0px);
  margin-bottom: rem(130px);
  @media (max-width: $md) {
    padding: rem(15px) rem(0px);
    margin-bottom: rem(80px);
  }
  @media (max-width: $sm) {
    margin-bottom: rem(0px);
  }
  .home & {
    margin-bottom: rem(0px);
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: rem(95px);
    position: relative;
  }
  .custom-logo-link {
    max-width: rem(150px);
    display: block;
    position: absolute;
    z-index: 99;
    left: 50%;
    top: rem(-25px);
    transform: translateX(-50%);
    @media (max-width: $md) {
      max-width: rem(100px);
      top: rem(0px);
    }
    @media (max-width: $sm) {
      max-height: rem(50px);
      max-width: none;
      top: rem(-10px);
      right: rem(15px);
      left: auto;
      transform: none;
    }
    img {
      max-width: 100%;
      @media (max-width: $sm) {
        max-height: rem(50px);
        width: auto;
      }
    }
  }
  &__menu-toggle {
    text-indent: -99999rem;
    width: rem(40px);
    height: rem(30px);
    display: block;
    border-top: rem(1px) solid $black;
    border-bottom: rem(1px) solid $black;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: rem(0px);
      width: 100%;
      height: rem(1px);
      background: $black;
      transform: tranlsateY(-50%);
    }
  }
  &__language {
    @media (max-width: $sm) {
      display: none;
    }
    .menu-item {
      line-height: none;
      display: inline-block;
      line-height: 1;
      a {
        color: $black;
        text-transform: uppercase;
      }
      &.current-lang {
        font-weight: 900;
      }
      &:not(:last-of-type) {
        padding-right: rem(20px);
        margin-right: rem(20px);
        border-right: rem(1px) solid $black;
      }
    }
  }
}


.super-menu {
  background: $primary;
  position: fixed;
  z-index: 99;
  height: 100vh;
  overflow: scroll;
  top: rem(0px);
  width: 30%;
  left: -30%;
  transition: all 0.5s ease-in;
  color: $white;
  padding: rem(60px) rem(60px) rem(60px) 5%;
  @media (max-width: $md) {
    width: 60%;
    left: -60%;
  }
  @media (max-width: $sm) {
    width: 100%;
    left: -100%;
  }
  &__close {
    position: absolute;
    top: rem(55px);
    right: rem(40px);
  }
  &__title {
    font-size: rem(18px);
    font-weight: 900;
    line-height: 1.0;
    color: $white;
    text-transform: uppercase;
    margin: rem(0px) rem(0px) rem(20px) rem(0px);
  }
  div {
    .menu {
      list-style: none;
      padding: rem(0px);
      margin: rem(0px) rem(0px) rem(60px) rem(0px);
      .menu-item {
        margin-bottom: rem(11px);
        a {
          color: $white;
        }
      }

    }
    &:first-of-type {
      .menu {
        margin-top: rem(50px);
        .menu-item {
          opacity: 0.9;
          font-size: rem(24px);
          font-weight: 300;
          line-height: 1;
          letter-spacing: rem(5px);
          margin-bottom: rem(21px);
          text-transform: uppercase;
          @media (max-width: $sm) {
            font-size: rem(20px);
          }
        }
      }

    }
  }
  &__social {
    &__link {
      display: inline-block;
      position: relative;
      width: rem(48px);
      height: rem(48px);
      background-color: $white;
      margin-right: rem(5px);
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }
  &.open {
    left: rem(0px);
  }
}
