.article {
  &__header {
    max-width: $container-small;
    margin: rem(0px) auto;
  }
  &__video {
    position: relative; 
		padding-bottom: 56.25%;
		overflow: hidden;
		max-width: $container-full;
    height: auto;
    margin: rem(0px) auto rem(60px) auto;
    background-color: $black;
    iframe,
	  object,
	  embed { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__body {
    max-width: $container-small;
    margin: rem(0px) auto rem(100px) auto;
    padding: rem(0px) rem(15px);
  }
  &__title {
    @include title();
    color: $black;
  }
  &__content {
    @extend %flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    @media (max-width: $sm) {
      flex-wrap: wrap;
    }
  }
  &__text {
    @extend %article-components;
  }
  &__riders {
    flex: 0 0 15%;
    @media (max-width: $sm) {
      flex: 0 0 100%;
      width: 100%;
      margin-bottom: rem(50px);
    }
    &__title {
      text-transform: uppercase;
      font-size: rem(14px);
      font-weight: 300;
      line-height: 1.14;
      letter-spacing: rem(4px);
      color: #999;
      margin-top: rem(50px);
      margin-bottom: rem(20px);
      @media (max-width: $sm) {
        margin-top: rem(0px);
      }
    }
    &__rider {
      font-size: rem(14px);
	    font-weight: bold;
      line-height: 1.14;
      text-align: left;
      color: $black;
      display: flex;
      align-items: center;
      img {
        width: rem(48px);
        margin-right: rem(10px);
      }
    }
  }
  &__tags {
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.14;
    letter-spacing: rem(4px);
    color: #999;
    text-transform: uppercase;
    a {
      text-transform: none;
      font-weight: bold;
      letter-spacing: rem(0px);
      display: inline-block;
      margin-left: rem(20px);
      color: rgba($primary, .9);
      @media (max-width: $sm) {
        margin-left: rem(10px);
      }
    }
  }
  .share {
    position: relative;
    @media (max-width: $md) {
      border-top: solid rem(2px) $gray;
      padding-top: rem(15px);
      text-align: right;
    }
    &:before {
      content: "";
      width: 80%;
      height: rem(0px);
      border-bottom: solid rem(2px) $gray;
      display: inline-block;
      position: relative;
      margin-right: rem(50px);
      transform: translateY(rem(-25px));
      @media (max-width: $md) {
        display: none;
      }
    }
    &__button {
      display: inline-block;
      position: relative;
      width: rem(48px);
      height: rem(48px);
      background-color: $primary;
      margin-right: rem(5px);
      svg {  
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        path {
          fill: $white;
        }
      }
    }
  }
  &.format-video, &.format-gallery {
    .article__title {
      font-size: rem(40px);
    }
    .article__text {
      width: 100%;
      flex: 0 0 100%;
    }
  }
  &__gallery {
    height: rem(700px);
    max-width: $container-full;
    margin: rem(0px) auto rem(50px) auto;
    background-color: $black;
    @media (max-width: $md) {
      height: rem(500px);
    }
    .owl-item, .owl-stage, .owl-stage-outer {
      height: 100%;
    }
    .owl-nav {
      position: absolute;
      top: rem(10px);
      right: rem(10px);
      margin: rem(0px);
      div {
        display: inline-block;
        width: rem(80px);
        height: rem(80px);
        font-size: rem(0px);
        margin: rem(0px) rem(1px);
        background:url('../images/icon-left-arrow.svg') rgba($black, 0.75) center center no-repeat;
        &.owl-next {
          background-image: url('../images/icon-right-arrow.svg');
        }
      }
    }
    &__item {
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
    }
    &__title {
      position: absolute;
      left: rem(0px);
      bottom: rem(0px);
      width: 100%;
      color: $white;
      margin: rem(0px);
      padding: rem(15px);
      font-size: rem(14px);
      font-weight: 300;
      line-height: 1.29;
      background-color: rgba($black, 0.75);
    }
  }
}