.rider {
  &__header {
    background: $black;
    margin-bottom: rem(80px);
    @media (max-width: $md) {
      margin-bottom: rem(40px);
    }
  }
  &__wrapper {
    @extend %container;
    @extend %flex;
    justify-content: space-between;
    align-items: center;
  }
  &__photo {
    flex: 0 0 40%;
    @media (max-width: $sm) {
      flex: 0 0 100%;
      margin-bottom: rem(30px);
    }
    img {
      display: block;
    }
  }
  &__data {
    flex: 0 0 40%;
    color: $white;
    @media (max-width: $sm) {
      flex: 0 0 100%;
      text-align: center;
    }
  }
  &__social {
    a {
      margin-right: rem(10px);
      display: inline-block;
    }
  }
  &__name {
    @include title();
    @media (max-width: $sm) {
      text-align: center;
    }
    svg {
      margin-right: rem(20px);
      margin-left: rem(-52px);
      @media (max-width: $sm) {
        margin-left: rem(0px);
      }
    }
  }
  &__info {
    @extend %flex;
    @media (max-width: $sm) {
      justify-content: center;
      margin-bottom: rem(30px);
    }
    &__box {
      font-size: rem(40px);
      font-weight: 900;
      line-height: 1.0;
      letter-spacing:rem(-2px);
      text-align: center;
      color: $white;
      padding: rem(0px) rem(27px);
      border-right: rem(1px) solid $warm-grey;
      &:first-of-type {
        padding-left: rem(0px);
      }
      &:last-child {
        padding-right: rem(0px);
        border: rem(0px);
      }
      span {
        font-weight: normal;
        margin-bottom: rem(10px);
        display: block;
        font-size: rem(16px);
        line-height: 1.0;
        text-align: center;
        color: $warm-grey;
      }
    }
  }
  &__bio-and-results {
    @extend %container;
    @extend %flex;
    justify-content: space-between;
    margin-bottom: rem(100px);
    @media (max-width: $md) {
      margin-bottom: rem(50px);
    }
  }
  &__bio {
    flex: 0 0 50%;
    font-size: rem(16px);
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    @media (max-width: $sm) {
      flex: 0 0 100%;
    }
  }
  &__results {
    flex: 0 0 40%;
    @media (max-width: $sm) {
      flex: 0 0 100%;
    }
    &__list {
      margin: rem(0px);
      padding: rem(0px);
      list-style: none;
      height: rem(390px);
      overflow: scroll;
      @media (max-width: $sm) {
        height: auto !important;
      }
      ul {
        margin: rem(0px);
        padding: rem(0px);
        list-style: none;
        margin-bottom: rem(60px);
      }
    }
    &__year {
      font-size: rem(18px);
      font-weight: 900;
      line-height: 1.33;
      color: $black;
      margin-bottom: rem(21px);
      position: relative;
      max-width: 90%;
      overflow: hidden;
      &:after {
        content: '';
        height: rem(2px);
        width: 100%;
        background: $gray;
        position: absolute;
        top: 50%;
        margin-left: rem(15px);
      }
    }
    &__result {
      font-size: rem(16px);
      line-height: 1.5;
      text-align: justify;
      color: $black;
      margin-bottom: rem(10px);
    }
  }
  &__title {
    @include title-section();
    margin-bottom: rem(60px);
    @media (max-width: $sm) {
      margin-bottom: rem(30px);
    }
  }

  &__gallery {
    width: 100%;
    margin: rem(0px) rem(0px) rem(80px) rem(0px);
    padding:rem(0px);
    display: flex;
    height: rem(440px);
    overflow: scroll;
    list-style: none;
    @media (max-width: $md) {
      margin-bottom: rem(30px);
    }
    @media (max-width: $sm) {
      height: rem(200px);
    }
    &__item {
      margin-right: rem(2px);
      img {
        height: rem(400px);
        max-height: rem(400px);
        width: auto;
        max-width: none;
        @media (max-width: $sm) {
          height: rem(200px);
        }
      }
    }
  }
  &__news {
    @extend %container;
    margin-bottom: rem(230px);
    @media (max-width: $md) {
      margin-bottom: rem(60px);
    }
    &__wrapper {
      @extend %flex;
      margin: rem(0px) rem(-15px);
    }
    .news-item {
      flex: 0 0 33%;
      padding: rem(15px);
      @media (max-width: $sm) {
        flex: 0 0 100%;
      }
      &__meta {
        font-size: rem(16px);
        font-weight: 300;
        line-height: 1.0;
        text-align: left;
        color: $black;
        strong {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      &__title {
        font-size: rem(24px);
        font-weight: bold;
        line-height: 1.08;
        letter-spacing: rem(-1px);
        text-align: left;
        margin: rem(0px);
        a {
          color: $black;
        }
      }
    }
  }
}
