section.team {
  padding-top: rem(140px);
  background-color: $black;
  margin-bottom: rem(112px);
  @media (max-width: $md) {
    padding-top: rem(30px);
    margin-bottom: rem(30px);
  }
  .team__title {
    margin: rem(0px);
    @include title();
    text-align: center;
  }
  .riders {
    @extend %container;
    @extend %flex;
    &__rider {
      width: 25%;
      flex: 0 0 25%;
      padding: rem(0px) rem(15px);
      margin-bottom: rem(60px);
      @media (max-width: $sm) {
        flex: 0 0 50%;
        width: 50%;
      }
      @media (max-width: $xs) {
        flex: 0 0 100%;
        width: 100%;
      }
      &__image {
        display: block;
      }
      &__name {
        font-size: rem(18px);
        font-weight: bold;
        line-height: 1.0;
        color: $white;
        a {
          color: $white;
          svg {
            margin-right: rem(10px);
          }
        }
      }
    }
  }
}
.staff {
  @extend %container;
  margin-bottom: rem(180px);
  @media (max-width: $md) {
    margin-bottom: rem(30px);
  }
  &__title {
    @include title-section();
    text-align: center;
    margin-bottom: rem(68px);
  }
  &__wrapper {
    @extend %flex;
  }
  .member {
    flex: 0 0 calc(100%/6);
    margin-bottom: rem(30px);
    padding: rem(0px) rem(15px);
    @media (max-width: $sm) {
      flex: 0 0 calc(100%/3);
    }
    @media (max-width: $sm) {
      flex: 0 0 50%;
    }
    img {
      margin-bottom: rem(15px);
    }
    &__name {
      font-size: rem(18px);
      font-weight: bold;
      line-height: 1.33;
      color: $black;
      margin: rem(0px);
    }
    &__position {
      font-size: rem(16px);
      font-weight: 300;
      line-height: 1.5;
      color: $black;
      margin: rem(0px);
    }
  }
}
