section.team {
  padding-top: rem(140px);
  background: url('../images/bg-team.jpg') center top no-repeat $black;
  background-size: contain;
  margin-bottom: rem(112px);
  @media (max-width: $md) {
    padding-top: rem(30px);
    margin-bottom: rem(30px);
  }
  .team__title {
    margin: 0rem 0rem rem(80px) 0rem;
    @include title();
    text-align: center;
  }
  .riders {
    @extend %container;
    @extend %flex;
    &__rider {
      width: 25%;
      flex: 0 0 25%;
      padding: rem(0px) rem(15px);
      margin-bottom: rem(60px);

      @media (max-width: $sm) {
        flex: 0 0 50%;
        width: 50%;
      }
      @media (max-width: $xs) {
        flex: 0 0 100%;
        width: 100%;
      }
      &__bg {
        display: block;
        position: relative;
        overflow: hidden;

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: block;
          background: url('../images/bg-single-rider.jpg') no-repeat bottom center;
          background-size: contain;
          opacity: 0.7;
          transition: opacity 0.3s ease-in;
          z-index: 0;
        }
      }
      &:hover {
        .riders__rider__bg {
          &::after {
            opacity: 1;
          }
        }
      }
      &__image {
        display: block;
        transition: $transition-standard;
        position: relative;
        z-index: 1;
      }
      &__name {
        font-size: rem(18px);
        font-weight: bold;
        line-height: 1.0;
        color: $white;
        a {
          color: $white;
          svg {
            margin-right: rem(10px);
            max-width: rem(16px);
          }
        }
      }
    }
  }
}
.staff {
  @extend %container;
  margin-bottom: rem(180px);
  @media (max-width: $md) {
    margin-bottom: rem(30px);
  }
  &__title {
    @include title-section();
    text-align: center;
    margin-bottom: rem(68px);
  }
  &__text {
    text-align: center;
  }
  &__wrapper {
    @extend %flex;
    justify-content: center;
  }
  .member {
    flex: 0 0 calc(100%/5);
    margin-bottom: rem(30px);
    padding: rem(0px) rem(15px);
    @media (max-width: $sm) {
      flex: 0 0 50%;
    }
    img {
      margin-bottom: rem(15px);
    }
    &__name {
      font-size: rem(18px);
      font-weight: bold;
      line-height: 1.33;
      color: $black;
      margin: rem(0px);
    }
    &__position {
      font-size: rem(13px);
      font-weight: 300;
      line-height: 1.5;
      color: $black;
      margin: rem(0px);
    }
  }
}
