*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body, input, textarea {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Overpass;
  &.open-menu {
    overflow: hidden;
  }
}

.container {
  @extend %container;
}

a {
  color: $primary;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@mixin title() {
  font-family: Overpass;
  font-size: rem(60px);
  font-weight: 900;
  line-height: 0.93;
  color: $white;
  @media (max-width: $md) {
    font-size: rem(40px);
  }
  @media (max-width: $sm) {
    font-size: rem(35px);
  }
  a:hover {
    transition: $transition-standard;
    color: $primary;
  }
}

@mixin title-medium() {
  font-family: Overpass;
  font-size: rem(40px);
  font-weight: bold;
  line-height: 1.0;
  letter-spacing:rem(-1.2px);
  color: $black;
  @media (max-width: $md) {
    font-size: rem(30px);
  }
  @media (max-width: $sm) {
    font-size: rem(26px);
  }
  a:hover {
    text-decoration: underline;
  }
}

@mixin title-small() {
  font-family: Overpass;
  font-size: rem(24px);
  font-weight: bold;
  line-height: 1.08;
  letter-spacing: rem(-1px);
  color: $black;
  @media (max-width: $md) {
    font-size: rem(23px);
  }
  @media (max-width: $sm) {
    font-size: rem(21px);
  }
  a:hover {
    text-decoration: underline;
  }
}

@mixin title-section() {
  font-family: Overpass;
  font-size: rem(24px);
  font-weight: 300;
  line-height: 1.0;
  letter-spacing: rem(10px);
  color: $black;
  text-transform: uppercase;
  @media (max-width: $md) {
    font-size: rem(21px);
  }
  @media (max-width: $sm) {
    font-size: rem(18px);
    line-height: 1.5;
  }
  a:hover {
    text-decoration: underline;
  }
}

.section-title {
  @include title();
  color: $black;
}
.banner {
  max-width: rem(1560px);
  margin: rem(0px) auto rem(60px) auto;
  @media (max-width: $md) {
    margin-bottom: rem(40px);
  }
  @media (max-width: $sm) {
    margin-bottom: rem(20px);
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

::-webkit-input-placeholder {
  color: #bbb;
}
::-moz-placeholder {
  color: #bbb;
}
:-ms-input-placeholder { 
  color: #bbb;
}
:-moz-placeholder {
  color: #bbb;
}
