// Grid settings
$lg: rem(1200px);
$md: rem(1024px);
$sm: rem(768px);
$xs: rem(450px);


$container-px: 1170px;
$container-full-px: 1560px;
$container-small-px: 940px;

$container: rem($container-px);
$container-full: rem($container-full-px);
$container-small: rem($container-small-px);

$primary: #00a1df;
$black: #000000;
$white: #ffffff;
$gray: #f2f2f2;
$warm-grey: #9b9b9b;

%container {
  max-width: $container;
  margin: rem(0px) auto;
  padding: rem(0px) rem(15px);
}
%flex {
  display: flex;
  flex-wrap: wrap;
}
