// Grid settings
$lg: rem(1200px);
$md: rem(1024px);
$sm: rem(768px);
$xs: rem(450px);

$container: rem(1170px);
$container-full: rem(1560px);
$container-small: rem(940px);

$primary: #00a1df;
$black: #000000;
$white: #ffffff;
$gray: #f2f2f2;
$warm-grey: #9b9b9b;

%container {
  max-width: $container;
  margin: rem(0px) auto;
  padding: rem(0px) rem(15px);
}
%flex {
  display: flex;
  flex-wrap: wrap;
}
